---
---

$primary: black ;
$secondary: gold ;
$text-white: #ffffff;
$background-pattern-url: url('{{ site.baseurl }}/img/ECS_BRAND_PATTERN.jpg');

body {
    background: black;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "mixins",
        "variables"
;