<div class="section about-us">
    <div class="header">
        <h4>ABOUT US</h4>
        <h3>OUR BODY OF EXPERTS</h3>
        <hr class="thick">
        <hr class="thin">
    </div>
    <div class="content">
        <div class="words">
            <p><span class="emphasis">Our group is comprised of highly qualified and diversely experienced individuals who thrive on 
            challenge and variety, taking pride in how we invent, innovate, and redesign models for creative efficiency and sustainability</span>
                <br><br>We have selectively assembled consultants that are competent, accessible, and resourceful, representing
                more than 20 years of cumulative industry experience. Their combined resources will enhance your and your
                staff’s existing education, helping ensure your organization produces consistent, energy efficient product
                in safe and clean facilities.</p>
        </div>
        <div class="photo">
            <img src="{{site.baseurl}}/img/ECS_ABOUT_US.jpg" alt="">
        </div>
    </div>
</div>