<h4>Our Core Team Of Experts</h4>
    <div class="core-team">
        <div class="content">
            <p>We recognize that your business is important. This importance is meaningful to you and to your community. So
                who better to get you going in the right direction than the most qualified group of individuals that our
                consulting services have to offer? We’ve assembled a team of trusted professionals whose experiences include:</p>
            <ul>
                <li>Bookkeeping</li>
                <li>Growing</li>
                <li>Storefronts</li>
                <li>Extraction</li>
                <li>Testing</li>
                <li>Policy-making</li>
                <li>Process Creation</li>
                <li>Employee/Client Interaction Training</li>
                <li>And so much more!</li>
            </ul>
            <p>Our extraction specialists are highly qualified individuals. Their vast breadth of experience will help to ensure
                that your organization will grow consistent, efficient product in safe and clean facilities. They will be
                able to educate you and your staff of potential business opportunities, and foster an overall awareness of
                available local services. Essentially, with just a little bit of our consultation, we’ll turn you into the
                successfully budding entrepreneur you’ve been wanting to be!</p>
        </div>
    </div>