<div class="adaptive-solutions section">
    <div class="header">
        <h3>ADAPTIVE SOLUTIONS</h3>
        <h4>Extracting your qualities</h4>
        <hr>
    </div>
    <div class="content">
        <p>Running a business in general is already a daunting task with very little initial returns to keep you motivated.
            Tack on the added pressures and restrictions of a dispensary, and it could very well seem impossible.</p>

        <p>At Epoch Consulting Services, we combine new and progressive ways of thinking with a little bit of old school elbow
            grease. In other words, we stay until the job is done. Our experience provides us the ability to customize a
            more specialized, tailored approach to your unique business situation. By providing you with the most bespoke
            consulting - resulting in an adaptive process to discover your solutions - we’re able to carefully prepare your
            information and advice as if we were your very own personal inhouse consulting agency. You won’t get any templated
            strategies, over-engineered solutions, or distant ‘cut and paste’ mentalities from us.</p>

        <p>Our entire staff has a combined total of over XX years working on the front lines of this new and exciting avenue
            of the extraction specialist industry. They are eloquent, accessible, and above all, extremely competent. We
            thrive on this adaptive quality that is necessary for stepping up to the challenge of catering to your company’s
            specific needs and outfitting exclusively to its individuality.</p>

        <p>Our forward-thinking approach to your particular arrangement is what announces us as the consulting agency that doesn’t
            just do things right, we do things well. And we’re pretty darn proud of that! </p>
    </div>
</div>