<div class="angle-before-flip angle-after">
    <div class="call-to-action section">
        <div class="header">
            <h4>CONTACT US</h4>
            <h3>ENHANCING BUSINESS, COMMUNITY,<br>AND THE BIOSPHERE</h3>
            <hr class="thick">
            <hr class="thin">
            <p><span class="emphasis">If you’re interested in learning more about Epoch Consulting Services, contact us. Tell us about your business and vision.
        </span></p>
            <div class="talk-to-us">
                <h4 class="border"><a href="{{site.baseurl}}/about">LEARN MORE ABOUT US</a></h4>
            </div>
            <p class="top-down"><span class="emphasis">Book your appointment with us today. We look forward to hearing from you!</span></p>
            <div class="talk-to-us">
                <h4 class="border"><a href="mailto:hello@epoch.consulting" target="_blank">LET'S HAVE A CONVERSATION</a></h4>
            </div>
        </div>
    </div>
</div>