<div class="call-to-action section">
    <div class="header">
        <h4>CONTACT US</h4>
        <h3>ENHANCING BUSINESS, COMMUNITY, AND THE BIOSPHERE</h3>
        <hr class="thick">
        <hr class="thin">
        <p>If you’re interested in learning more about Epoch Consulting Services, email us and tell us about your business and vision.</p>
        <br><br>
        <p>Book your appointment with us today by sending us an email today. We look forward to hearing from you!</p>
    </div>
    <div class="contact-us">
        <div class="address">
            <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
            <h3>EMAIL</h3>
            <a href="mailto:hello@epoch.consulting" target="_blank">HELLO@EPOCH.COSUNSULTING</a>
        </div>
        <div class="address">
            <i class="fa fa-phone fa-3x" aria-hidden="true"></i>
            <h3>PHONE</h3>
            <a href="tel:3038189394" class="">303.818.9394</a>
        </div>
        <div class="address">
            <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
            <h3>ADDRESS</h3>
            <p>2510 47TH STREET, UNIT 206 <br>BOULDER, COLORADO 80301</p>
        </div>
    </div>
</div>