<div class="call-to-action section">
    <h3>WE MARKET YOU FOR “NOW”</h3>
    <p>First impressions are very important to us - and we’re certain that they are pretty important to you as well! If you’re
        interested in learning more about <strong>Epoch Consulting Services</strong>, give us a chance to impress you even
        more!</p>

    <p>Book your appointment with us today by sending an email to <a href=”mailto:epochconsultingservices@gmail.com?Subject=Hello,%20Epoch!%20I’d%20like%20to%20know%20more!”
            target=”_top”>Epoch Consulting Services</a>, or calling us at <a href=”tel:+XXXXXXXXXX”>(XXX) XXX-XXXX</a>. We proudly
        serve our local cities of Boulder and Denver, along with all nearby areas of the beautiful state of Colorado. We
        look forward to hearing from you! </p>

    <h4>Epoch Consulting Services</h4>
    <div class="address">
        <p>2510 47th St. Unit 209<br /> Boulder, Colorado 80301<br />
            <strong>(XXX) XXX-XXXX</strong><br /> epochconsultingservices@gmail.com
        </p>
    </div>
</div>