<div class="section contact">
    <div class="header">
        <h3>GET IN TOUCH</h3>
        <hr class="thick">
        <hr class="thin">
    </div>
    <div class="content">
        <div class="words">
            <p>If you’re interested in learning more about Epoch Consulting Services, contact us and tell us about your business
                and vision.</p>
            <div class="contact-us">
                <div class="address">
                    <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
                    <h3>EMAIL</h3>
                    <a href="mailto:hello@epoch.consulting" target="_blank">HELLO@EPOCH.COSUNSULTING</a>
                </div>
                <div class="address">
                    <i class="fa fa-phone fa-3x" aria-hidden="true"></i>
                    <h3>PHONE</h3>
                    <a href="tel:3038189394" class="">303.818.9394</a>
                </div>
                <div class="address">
                    <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
                    <h3>ADDRESS</h3>
                    <p>2510 47TH STREET, UNIT 206 <br>BOULDER, COLORADO 80301</p>
                </div>
            </div>
        </div>
        <form action="https://formspree.io/hello@epoch.consulting" method="POST">
            <label for="name">Name<input type="text" name="name"></label>
            <label for="_replyto">Email<input type="email" name="_replyto"></label>
            <label for="_subject">Subject<input name="_subject"/></label>
            <label for="_message">Message<input type="text" name="_message"></label>
            <input type="text" name="_gotcha" style="display:none" />
            <input type="submit" class="send-button" value="Send">
        </form>
    </div>
</div>