<div class="section contact">
    <div class="header">
        <h3>GET IN TOUCH</h3>
        <hr class="thick">
        <hr class="thin">
    </div>
    <div class="content">
        <div class="words">
            <p><span class="emphasis">If you’re interested in learning more about Epoch Consulting Services, contact us. Tell us about your business and vision..</span></p>
            <div class="contact-us">
                <div class="address">
                    <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
                    <h4>EMAIL</h4>
                    <a href="mailto:hello@epoch.consulting" target="_blank">HELLO@EPOCH.CONSULTING</a>
                </div>
                <div class="address">
                    <i class="fa fa-phone fa-3x" aria-hidden="true"></i>
                    <h4>PHONE</h4>
                    <a href="tel:3038189394" class="">303.818.9394</a>
                </div>
                <div class="address">
                    <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
                    <h4>ADDRESS</h4>
                    <p>2510 47TH STREET, UNIT 209 <br>BOULDER, COLORADO 80301</p>
                </div>
                <div class="icons">
                    <a href="https://www.facebook.com/Epoch-Consulting-Services-1285864328163283/" target="_blank"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
                    <a href="https://www.instagram.com/epochconsultingservices/" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
                    <a href="https://twitter.com/epoch_consult" target="_blank"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
                    <a href="https://plus.google.com/107532696384195837911" target="_blank"><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a>
                    <a href="https://www.linkedin.com/in/abe-levine-28b214140/" target="_blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
                    <a href="" target="_blank"><i class="fa fa-pencil-square-o fa-3x" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <form action="https://formspree.io/hello@epoch.consulting" method="POST">
            <label for="name">Name<input type="text" name="name"></label>
            <label for="_replyto">Email<input type="email" name="_replyto"></label>
            <label for="_subject">Subject<input name="_subject"/></label>
            <label for="_message">Message<input type="text" name="_message"></label>
            <input type="text" name="_gotcha" style="display:none" />
            <input type="submit" class="send-button" value="SEND">
        </form>
    </div>
</div>