<div class="contact-us">
    <div class="address">
        <i class="fa fa-envelope-o fa-3x" aria-hidden="true"></i>
        <h4>EMAIL</h4>
        <a href="mailto:hello@epoch.consulting" target="_blank">HELLO@EPOCH.CONSULTING</a>
    </div>
    <div class="address">
        <i class="fa fa-phone fa-3x" aria-hidden="true"></i>
        <h4>PHONE</h4>
        <a href="tel:3038189394" class="">303.818.9394</a>
    </div>
    <div class="address">
        <i class="fa fa-map-marker fa-3x" aria-hidden="true"></i>
        <h4>ADDRESS</h4>
        <p>2510 47TH STREET, UNIT 209 <br>BOULDER, COLORADO 80301</p>
    </div>
    <div class="icons">
        <a href="https://www.facebook.com/Epoch-Consulting-Services-1285864328163283/" target="_blank"><i class="fa fa-facebook-square fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.instagram.com/epochconsultingservices/" target="_blank"><i class="fa fa-instagram fa-3x" aria-hidden="true"></i></a>
        <a href="https://twitter.com/epoch_consult?lang=en" target="_blank"><i class="fa fa-twitter-square fa-3x" aria-hidden="true"></i></a>
        <a href="https://plus.google.com/107532696384195837911" target="_blank"><i class="fa fa-google-plus-square fa-3x" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/abe-levine-28b214140/" target="_blank"><i class="fa fa-linkedin-square fa-3x" aria-hidden="true"></i></a>
        <a href="" target="_blank"><i class="fa fa-plus-square fa-3x" aria-hidden="true"></i></a>
    </div>
    <div class="go-to-top">
        <a href="#top" class="up-arrow"><i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i></a>
    </div>
</div>