<div class="section core-team">
    <div class="header">
        <h3>THE CORE TEAM</h3>
        <hr class="thick">
        <hr class="thin">
    </div>
    <div class="content">
        <div class="bio">
            <div class="headshot">
                <img src="{{site.baseurl}}/img/ECS_ABE_2.png" alt="" class="img-responsive" onmouseover="this.src = '{{site.baseurl}}/img/ECS_ABE_1.png'" onmouseout="this.src = '{{site.baseurl}}/img/ECS_ABE_2.png'">
            </div>
            <div class="description">
                <h2>ABE LEVINE</h2>
                <hr class="thick">
                <hr class="thin">
                <p>The past decade has often found Abe in extreme environments. From spearheading development of successful
                    wilderness teen programs, to assisting in desert-based law enforcement training, to field-testing emergency
                    equipment in remote areas, he has experience in negotiation, conflict resolution, systems development
                    and high-liability logistical management. Working on the front lines for the first year of recreational
                    cannabis sales in Colorado, he wished to see a more educated, efficient, impact-conscious industry, and
                    jumped at the opportunity to develop Epoch Consulting.</p>
            </div>
        </div>
        <div class="bio">
            <div class="description right">
                <h2>AARON KLASS</h2>
                <hr class="thick right">
                <hr class="thin right">
                <p>Aaron Klass has spent the last 10 years of his career in the nonprofit environmental and cannabis industries.
                    He is experienced in process development, contingency planning, and retail management and operations.
                    In addition to his day jobs, he has engaged in and started several artisan cottage industry internet
                    businesses making specialty sports equipment and reproducing 19th century leather goods. He is also an
                    experienced outdoorsman and historian.</p>
            </div>
            <div class="headshot">
                <img src="{{site.baseurl}}/img/ECS_AARON_1.png" alt="" class="img-responsive" onmouseover="this.src = '{{site.baseurl}}/img/ECS_AARON_2.png'" onmouseout="this.src = '{{site.baseurl}}/img/ECS_AARON_1.png'">
            </div>
        </div>
        <div class="bio">
            <div class="headshot">
                <img src="{{site.baseurl}}/img/ECS_MEGAN_1.png" alt="" class="img-responsive"  onmouseover="this.src = '{{site.baseurl}}/img/ECS_MEGAN_2.png'" onmouseout="this.src = '{{site.baseurl}}/img/ECS_MEGAN_1.png'">
            </div>
            <div class="description">
                <h2>MEGAN IRVINE</h2>
                <hr class="thick">
                <hr class="thin">
                <p>Megan has worked as a retail manager for over five years, and has been involved in the cannabis industry
                    for the last two. She has experience in large scale retail management, employee training and management,
                    sales, inventory management, and purchasing operations; she is passionate about working for companies
                    that revolutionize their sourcing and environmental impact. As much as she enjoys working with people,
                    Megan spends almost all of her free time petting as many dogs as possible.</p>
            </div>
        </div>
    </div>
</div>