<div class="ethos section">
    <h3>BUSINESSES THAT HELP THE CUSTOMER, HELP THE COMMUNITY</h3>
    <p>Where there’s good people, there’s good business. At Epoch Consulting Services, our primary focus is dedicated not only
        to problem solving different issues within your business, but also to those that you may have with concern to your
        community. We understand that it is incredibly demanding and difficult to gain traction in this particular industry
        due to the ever-changing landscape of legislation and failure to properly educate. Much in the same way that it takes
        a village to raise a child, so too does the overall success of your extraction specialist business depend heavily
        upon its surrounding environment in order to adapt quickly to these changes. Whether it is figuring out how to reduce
        your amount of produced waste, or making sure that your hiring practices are fair for all cultures, races, genders,
        and beliefs, we understand that in order for you to thrive, it is necessary for you to get a good look at the bigger
        picture. What sets us apart from other consulting services is that we strive to advocate awareness in everything
        that we do. Therefore, we’ve thoughtfully constructed a set of core values that we can be proud to stand behind.
        In turn, we’re confident that once you see them implemented into your business, you’ll be just as proud of them as
        well
    </p>

    <h4>OUR ETHOS, YOUR SUCCESS</h4>
    <ul>
        <li>Impact-conscience business practices</li>
        <li>Investing in, and advocating for, your employees</li>
        <li>Promotion of ‘consumer as community’ ideas</li>
        <li>Biosphere awareness and environmental recognition</li>
        <li>Utilizing business as a tool for sociological and technological development</li>
    </ul>

    <p>Our ethos, when infused with your business model, will produce conscientious best practices that will increase employee
        retention and customer loyalty. This combination will also help you become a positive role model in your community
        that people will want to remember, emulate, and ultimately respect.</p>
</div>