<div class="angle-before">
    <div class="ethos section">
        <div class="header">
            <h4>BUSINESSES THAT HELP THE CUSTOMER,</h4>
            <h3>HELP THE COMMUNITY</h3>
            <hr class="thick">
            <hr class="thin">
        </div>
        <div class="content">
            <div class="mantra">
                <p><span class="emphasis">Our ethos, when integrated with your business model, stimulates humanitarian and impact conscious practices
                    that increase employee retention and customer loyalty. We position you as a positive role model for business
                    in your community.</span>
                </p>
            </div>
            <h4>OUR ETHOS, YOUR SUCCESS</h4>
            <div class="ethos-subcontent">
                <div class="ethos-box left-end">
                    <img src="{{site.baseurl}}/img/ECS_MEGAMARK_V1.png" alt="">
                    <div class="boxed-content">
                        <p>Impact Conscious<br>Business<br>Practices</p>
                    </div>
                </div>
                <div class="ethos-box">
                    <img src="{{site.baseurl}}/img/ECS_MEGAMARK_V2.png" alt="">
                    <div class="boxed-content">
                        <p>Investing In,<br>And<br>Advocating For,<br>Your Employees</p>
                    </div>
                </div>
                <div class="ethos-box">
                    <img src="{{site.baseurl}}/img/ECS_MEGAMARK_V3.png" alt="">
                    <div class="boxed-content">
                        <p>Utilizing Business<br>As A Tool For<br>Sociological And<br>Technological<br>Development</p>
                    </div>
                </div>
                <div class="ethos-box">
                    <img src="{{site.baseurl}}/img/ECS_MEGAMARK_V2.png" alt="">
                    <div class="boxed-content">
                        <p>Biosphere<br>Awareness And<br>Environmental<br>Recognition</p>
                    </div>
                </div>
                <div class="ethos-box right-end">
                    <img src="{{site.baseurl}}/img/ECS_MEGAMARK_V1.png" alt="">
                    <div class="boxed-content">
                        <p>Promotion Of<br>‘Consumer As<br>Community’ Ideas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>