<div class="angle-before-flip">
    <div class="ethos section">
        <div class="header">
            <h3>BUSINESSES THAT HELP THE CUSTOMER</h3>
            <h4>Help the community</h4>
            <hr class="thick">
            <hr class="thin">
        </div>
        <div class="content">
            <p>Where there’s good people, there’s good business. At Epoch Consulting Services, our primary focus is dedicated
                not only to problem solving different issues within your business, but also to those that you may have with
                concern to your community. We understand that it is incredibly demanding and difficult to gain traction in
                this particular industry due to the ever-changing landscape of legislation and failure to properly educate.
                Much in the same way that it takes a village to raise a child, so too does the overall success of your extraction
                specialist business depend heavily upon its surrounding environment in order to adapt quickly to these changes.
                Whether it is figuring out how to reduce your amount of produced waste, or making sure that your hiring practices
                are fair for all cultures, races, genders, and beliefs, we understand that in order for you to thrive, it
                is necessary for you to get a good look at the bigger picture. What sets us apart from other consulting services
                is that we strive to advocate awareness in everything that we do. Therefore, we’ve thoughtfully constructed
                a set of core values that we can be proud to stand behind. In turn, we’re confident that once you see them
                implemented into your business, you’ll be just as proud of them as well
            </p>
            <h4>OUR ETHOS, YOUR SUCCESS</h4>
            <div class="ethos-subcontent">
                    <div class="ethos-box">
                        <img src="{{site.baseurl}}/img/ECS_SUBMARK.png" alt="">
                        <div class="boxed-content">
                            <p>Impact-conscience business practices</p>
                        </div>
                    </div>
                    <div class="ethos-box">
                        <img src="{{site.baseurl}}/img/ECS_SUBMARK.png" alt="">
                        <div class="boxed-content">
                            <p>Promotion of ‘consumer as community’ ideas</p>
                        </div>
                    </div>
                    <div class="ethos-box">
                        <img src="{{site.baseurl}}/img/ECS_SUBMARK.png" alt="">
                        <div class="boxed-content">
                            <p>Investing in, and advocating for, your employees</p>
                        </div>
                    </div>
                    <div class="ethos-box">
                        <img src="{{site.baseurl}}/img/ECS_SUBMARK.png" alt="">
                        <div class="boxed-content">
                            <p>Promotion of ‘consumer as community’ ideas</p>
                        </div>
                    </div>
                    <div class="ethos-box">
                        <img src="{{site.baseurl}}/img/ECS_SUBMARK.png" alt="">
                        <div class="boxed-content">
                            <p>Biosphere awareness and environmental recognition</p>
                        </div>
                    </div>
                    <div class="ethos-box">
                        <img src="{{site.baseurl}}/img/ECS_SUBMARK.png" alt="">
                        <div class="boxed-content">
                            <p>Utilizing business as a tool for development</p>
                        </div>
                    </div>
            </div>

            <p>Our ethos, when infused with your business model, will produce conscientious best practices that will increase
                employee retention and customer loyalty. This combination will also help you become a positive role model
                in your community that people will want to remember, emulate, and ultimately respect.</p>
        </div>
    </div>
</div>