<div class="section find-us">
    <div class="header">
        <h3>FIND US</h3>
        <hr class="thick">
        <hr class="thin">
    </div>
    <div class="content">
        <div class="left">
            <img src="{{site.baseurl}}/img/ECS_FIND_US_2.jpg" class="img-responsive" onmouseover="this.src = '{{site.baseurl}}/img/ECS_FIND_US_1.jpg'" onmouseout="this.src = '{{site.baseurl}}/img/ECS_FIND_US_2.jpg'">
        </div>  
        <div class="right" id="map">
        </div>
    </div>
</div>