<div class="section find-us">
    <div class="header">
        <h3>FIND US</h3>
        <hr class="thick">
        <hr class="thin">
    </div>
    <div class="content">
        <div class="left">
            <img src="{{site.baseurl}}/img/ECS_FIND_US_1.jpg" class="img-responsive" onmouseout="this.src = '{{site.baseurl}}/img/ECS_FIND_US_1.jpg'" onmouseover="this.src = '{{site.baseurl}}/img/ECS_FIND_US_2.jpg'">
        </div>  
        <div class="right" id="map">
        </div>
    </div>
    <div class="go-to-top">
        <a href="#top" class="up-arrow"><i class="fa fa-arrow-circle-up fa-2x" aria-hidden="true"></i></a>
    </div>
</div>