<div class="intro section">
    <div class="header">
        <h4>You are in the right place</h4>
        <h3>RETAIL SPECIALIST CONSULTING</h3>
        <hr class="thick">
        <hr class="thin">
    </div>
    <div class="content">
        <p><span class="emphasis">Nestled against the Flatirons in beautiful Boulder, Colorado, Epoch Consulting Services provides superior knowledge
            in the areas of cannabis retail and efficiency consultation by featuring expert representatives, prioritizing
            community awareness and personal responsibility.</span><br><br>Using your current business strategies and existing staff
            as a foundation, we will transform your organization into onto one that is sustainable, supportive, and forward
            thinking. It is our goal to effect positive change in our clients, community and environment. Debunking long-standing
            myths within the industry by providing accurate, detailed education we strive to create jobs where employees
            feel like they belong, deliver informed and precise sales, and lay the groundwork for future cannabis business
            becoming a bedrock in community development.
        </p>
    </div>
</div>