<div class="intro">
    <h1>Who We Are</h1>
    <h2>You are in the right place</h2>
    <p>Bacon ipsum dolor amet kielbasa duis porchetta fugiat filet mignon, cupidatat tri-tip prosciutto burgdoggen andouille. In incididunt frankfurter, biltong dolore pig ut. Veniam filet mignon irure sint commodo chicken consectetur sed venison cupidatat. Short ribs est dolor ball tip officia kevin venison andouille ex esse pork duis cupidatat. Et chicken dolore sint, shoulder laborum alcatra pork kielbasa pariatur sausage eiusmod.</p>
</div>