<div class="intro section">
    <h3>EXTRACTION SPECIALIST CONSULTING: YOU ARE IN THE RIGHT PLACE!</h3>
    <div class="content">
        <p>Nestled comfortably up against the Flatirons in beautiful Boulder, Colorado, Epoch Consulting Services features expert
            representatives, provides superior knowledge in the areas of extraction specialist consultation, and wraps all
            of it up with an impact conscious bow of community awareness and personal responsibility. As you may have already
            guessed, Epoch Consulting Services isn’t your typical company. We are an agency that sustains itself while also
            providing support to the community. We strive to creates jobs where employees feel that they belong, and where
            they can take pride in the fact that they are working for a business that is actively serving the community and
            the environment. We want to turn the problems that we’ve encountered within the industry into actual opportunities
            with practical solutions. </p>
        <p> This sort of progressive stance is better for public relations and for community involvement. For example, debunking
            long-standing myths, providing accurate and detailed product education, or laying down the groundwork for future
            indoor agriculture endeavors are just some of the myriad ways in which positive changes for our community and
            our environment can occur environments promote happy communities. It is imperative to create a stable industry,
            and your business is a major contributor to this concept whether you’re aware of it or not. A business that creates
            jobs and stimulates forward-thinking activity is sustainable, supportive, and increases the stability of the
            industry. We will take your current business logic and existing staff and mold it into a clean, green, and smooth-running
            machine. One that has longevity, sustainability, and will disseminate social and political awareness throughout
            your community. Like our own company, we want to get you to a happy, healthy place where your business will eventually
            run itself.
        </p>
    </div>


    <h4>Our Core Team Of Experts</h4>

    <p>We recognize that your business is important. This importance is meaningful to you and to your community. So who better
        to get you going in the right direction than the most qualified group of individuals that our consulting services
        have to offer? We’ve assembled a team of trusted professionals whose experiences include:</p>
    <ul>
        <li>Bookkeeping</li>
        <li>Growing</li>
        <li>Storefronts</li>
        <li>Extraction</li>
        <li>Testing</li>
        <li>Policy-making</li>
        <li>Process Creation</li>
        <li>Employee/Client Interaction Training</li>
        <li>And so much more!</li>
    </ul>
    <p>Our extraction specialists are highly qualified individuals. Their vast breadth of experience will help to ensure that
        your organization will grow consistent, efficient product in safe and clean facilities. They will be able to educate
        you and your staff of potential business opportunities, and foster an overall awareness of available local services.
        Essentially, with just a little bit of our consultation, we’ll turn you into the successfully budding entrepreneur
        you’ve been wanting to be!</p>
</div>