<div class="services section angle-before-flip">
    <div class="header">
        <h3>EXTRACTION SPECIALIST CONSULTING SERVICES</h3>
        <hr class="thick">
        <hr class="thin">
    </div>
    <div class="content">
        <p>Our list of extraction specialist consulting services can assist you in accomplishing a wide variety of goals and
            objectives for your business. Whether you need assistance with deciphering and understanding legislation, discovering
            new methods of sustainability and waste reduction, or getting your new company ideas off the ground, the skillfully-trained
            people at Epoch Consulting Services will have you established and contributing to your community in no time!</p>

        <p>From the nascent stages of your idea to an established business looking to improve their flow, Epoch Consulting Services
            is able to help all walks and levels of company improvement. Relying on the concept of “municipality as a fail-safe,”
            we turn preserved problems into community-building, environmentally responsible solutions.</p>

        <h4>Extraction Specialist Industry Services That We Provide:</h4>
        <div class="ethos-subcontent">
            <div class="ethos-box">
                <img src="{{site.baseurl}}/img/ECS_SUBMARK.png" alt="">
                <h5>LOGISTICS</h5>
                <div class="boxed-content">
                    <p>Establishing a new company<br>Business sustainability and waste<br>Bookkeeping<br>Logistics Management<br>Understanding
                        legislation and lobbying</p>
                </div>
            </div>
            <div class="ethos-box">
                <img src="{{site.baseurl}}/img/ECS_SUBMARK.png" alt="">
                <h5>RETAIL CONSULTING</h5>
                <div class="boxed-content">
                    <p>Employee Training<br> Employee/Customer interaction<br> Industry enhancement through education and advocacy<br>Complex
                        adaptive systems<br>Compliance</p>
                </div>
            </div>
            <div class="ethos-box">
                <img src="{{site.baseurl}}/img/ECS_SUBMARK.png" alt="">
                <h5>MANUFACTURING</h5>
                <div class="boxed-content">
                    <p>Impact process and product analysis<br>Product lifecycle<br>Genetics
                        <br>Grow health and preparation<br>Transportation of Product and Currency<br>Security Services</p>
                </div>
            </div>
        </div>

        <p>Knowing exactly what services are right for you can be tricky. During your initial consultation with our consultation
            experts, we’ll get to know you and learn more about you as an individual. We take the time to learn who you are
            and what you want, because we want to be absolutely sure that we understand you completely and what your goals
            are in order customize the perfect fit of consulting, services, and information.</p>
    </div>
</div>