<div class="services section angle-before-flip">
    <div class="header">
        <h4>DISCOVERING NEW METHODS</h4>
        <h3>SUSTAINABILITY / WASTE REDUCTION SERVICES</h3>
        <hr class="thick">
        <hr class="thin">
    </div>
    <div class="content">
        <p>During the initial consultation, our team becomes familiar with your business goals and concerns. When your vision
            is understood completely, we customize an action plan and implement efficient, focused solutions.</p>

        <h4>Extraction Specialist Industry Services That We Provide:</h4>
        <div class="subcontent">
            <div class="ethos-box">
                <img src="{{site.baseurl}}/img/ECS_SUBMARK.png" alt="">
                <h4 class="logistics-click clicker">LOGISTICS <i class="fa fa-caret-down" aria-hidden="true"></i></h4>
                <div class="boxed-content logistics-content">
                    <p>Establishing a new company<br>Business sustainability and waste<br>Bookkeeping<br>Logistics Management<br>Understanding
                        legislation and lobbying</p>
                </div>
            </div>
            <div class="ethos-box">
                <img src="{{site.baseurl}}/img/ECS_SUBMARK.png" alt="">
                <h4 class="retail-click clicker">RETAIL CONSULTING <i class="fa fa-caret-down" aria-hidden="true"></i></h4>
                <div class="boxed-content retail-content">
                    <p>Employee Training<br> Employee/Customer interaction<br> Industry enhancement through education and advocacy<br>Complex
                        adaptive systems<br>Compliance</p>
                </div>
            </div>
            <div class="ethos-box">
                <img src="{{site.baseurl}}/img/ECS_SUBMARK.png" alt="">
                <h4 class="manufacturing-click clicker">MANUFACTURING <i class="fa fa-caret-down" aria-hidden="true"></i></h4>
                <div class="boxed-content manufacturing-content">
                    <p>Impact process and product analysis<br>Product lifecycle<br>Genetics
                        <br>Grow health and preparation<br>Transportation of Product and Currency<br>Security Services</p>
                </div>
            </div>
        </div>
    </div>
</div>