<div class="services section angle-before-flip">
    <div class="header">
        <h4>DISCOVERING NEW METHODS</h4>
        <h3>SUSTAINABILITY / WASTE REDUCTION SERVICES</h3>
        <hr class="thick">
        <hr class="thin">
    </div>
    <div class="content">
        <p><span class="emphasis">During the initial consultation, our team becomes familiar with your business goals and concerns. When your vision
            is understood completely, we customize an action plan and implement efficient, focused solutions.</span></p>
        <h4>INDUSTRY SPECIALIST SERVICES THAT WE PROVIDE:</h4>
        <div class="subcontent">
            <div class="ethos-box">
                <i class="fa fa-cogs fa-3x" aria-hidden="true"></i>
                <h5 class="logistics-click clicker">LOGISTICS <i class="fa fa-caret-down" aria-hidden="true"></i></h5>
                <div class="boxed-content logistics-content">
                    <ul>
                        <li>Establishing a New Company</li>
                        <li>Business Sustainability and Waste</li>
                        <li>Bookkeeping</li>
                        <li>Logistics Management</li>
                        <li>Understanding
                        Legislation and Lobbying</li>
                    </ul>
                </div>
            </div>
            <div class="ethos-box">
                <i class="fa fa-handshake-o fa-3x" aria-hidden="true"></i>
                <h5 class="retail-click clicker">RETAIL CONSULTING <i class="fa fa-caret-down" aria-hidden="true"></i></h5>
                <div class="boxed-content retail-content">
                    <ul>
                        <li>Employee Training</li>
                        <li>Employee/Customer Interaction</li>
                        <li>Industry Enhancement Through Education and Advocacy</li>
                        <li>Logistics Management</li>
                        <li>Understanding Legislation and lobbying</li>
                        <li>Complex Adaptive Systems</li>
                        <li>Compliance</li>
                    </ul>
                </div>
            </div>
            <div class="ethos-box">
                <i class="fa fa-leaf fa-3x" aria-hidden="true"></i>
                <h5 class="manufacturing-click clicker">MANUFACTURING <i class="fa fa-caret-down" aria-hidden="true"></i></h5>
                <div class="boxed-content manufacturing-content">
                    <ul>
                        <li>Impact Process and Product Analysis</li>
                        <li>Product lifecycle</li>
                        <li>Genetics</li>
                        <li>Grow Health and Preparation</li>
                        <li>Transportation of Product and Currency</li>
                        <li>Security Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>