.about-splash {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-image: $gold-foil-2-url;
    background-size: 300%;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    
    .logo-space {
        img {
            -webkit-filter: grayscale(1) invert(1);
            filter: grayscale(1) invert(1);
            @media screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
                width: 100%;
                max-width: 350px;
            }
            width: 60%;
            display: block;
            margin: auto;
        }
    }

    .sub-heading {
        margin-top: 70px;
        text-align: center;
        h3,h4 {
            color: white;
            margin-bottom: 20px;
        }
        h4 {
            padding: 20px;
            width: 300px;
            margin: auto;
            border: 1px solid white;
            &:hover {
                color: $white;
                border: 1px solid $white;
            }
        }
        a {
            text-decoration: none;
            color: white;
            &:hover {
                color: $white;
            }
        }
    }
}

.about-us {
    .header {
        @include angle(before, true, 3deg);
        background: $white;
        padding-top: 15px;
        padding-bottom: 10px;
        @media screen and (min-width: $screen-sm) {
            margin-left: 50px; 
            margin-right: 50px;
            padding-bottom: 10px;
        }
    }
    
    .content {
        @media screen and (min-width: $screen-sm) {
            display: flex;
        }
        
        .emphasis {
            font-style: italic;
            font-size: 24px;
        }

        .words {
            width: 100%;
            @media screen and (min-width: $screen-sm) {
                width: 50%;
                padding: 30px;
            }
        }
        .photo {
            @media screen and (min-width: $screen-sm) {
                width: 50%;
                margin-top: -25px;
                
            }
            img {
                    width: 100%;
                }
        }
    }
}

.core-team {
    .header {
        @include angle(before, false, 3deg);
        background: $white;
        padding-top: 15px;
        padding-bottom: 10px;
        @media screen and (min-width: $screen-sm) {
            margin-left: 50px; 
            margin-right: 50px;
            padding-bottom: 10px;
        }
    }

    .content {
        display: block;
        width: 70%;
        min-width: 800px;
        margin-left: auto;
        margin-right: auto;
        
        hr {
            width: 30%;
            color: $black;
            
            &.thick {
                margin-top: 30px;
                border-top: 4px solid black;
                // size: 5;
            }

            &.thin {
                margin-top: 10px;
                margin-bottom: 30px;
                border-top: 1px solid black;
                // size: 2;
            }

            &.right {
                margin-left: 70%;
                text-align: right;
            }
            
        }

        .bio {

            display: flex;
            .headshot {
                width: 40%;
                img {
                    width: 100%;
                }
            }
            .description {
                padding: 30px;
                width: 60%;
                &.right {
                    text-align: right;
                }
            }
        }
    }
}