.about-splash {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-image: $gold-foil-2-url;
    background-size: 300%;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    .logo-space {
        img {
            -webkit-filter: grayscale(1) invert(1);
            filter: grayscale(1) invert(1);
            @media screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
                width: 100%;
                max-width: 350px;
            }
            width: 60%;
            display: block;
            margin: auto;
        }
    }
    .sub-heading {
        margin-top: 70px;
        text-align: center;
        h3,
        h4 {
            color: white;
            margin-bottom: 20px;
        }
        h4 {
            padding: 20px;
            width: 300px;
            margin: auto;
            border: 1px solid white;
            &:hover {
                color: $white;
                border: 1px solid $white;
            }
        }
        a {
            text-decoration: none;
            color: white;
            &:hover {
                color: $white;
            }
        }
    }
}

.about-us {
    .header {
        @include angle(before, true, 3deg);
        background: $white;
        padding-top: 15px;
        padding-bottom: 10px;
        @media screen and (min-width: $screen-sm) {
            margin-left: 50px;
            margin-right: 50px;
            padding-bottom: 10px;
        }
    }
    .content {
        @media screen and (min-width: $screen-sm) {
            display: flex;
        }
        .emphasis {
            font-style: italic;
            font-size: 24px;
        }
        .words {
            width: 100%;
            @media screen and (min-width: $screen-sm) {
                width: 50%;
                padding: 30px;
            }
        }
        .photo {
            @media screen and (min-width: $screen-sm) {
                width: 50%;
                margin-top: -25px;
            }
            img {
                width: 100%;
            }
        }
    }
}

.core-team {
    .header {
        @include angle(before, false, 3deg);
        background: $white;
        padding-top: 15px;
        padding-bottom: 10px;
        @media screen and (min-width: $screen-sm) {
            margin-left: 50px;
            margin-right: 50px;
            padding-bottom: 10px;
        }
    }
    .content {
        @media screen and (min-width: $screen-sm) {
            display: block;
            width: 70%;
            min-width: 800px;
            margin-left: auto;
            margin-right: auto;
        }
        hr {
            width: 30%;
            @media screen and (max-width: $screen-sm) {
                width: 50%;
                ;
            }
            color: $black;
            &.thick {
                margin-top: 30px;
                border-top: 4px solid black; // size: 5;
            }
            &.thin {
                margin-top: 10px;
                margin-bottom: 30px;
                border-top: 1px solid black; // size: 2;
            }
            &.right {
                @media screen and (min-width: $screen-sm) {
                    margin-left: 70%;
                }
            }
        }
        .bio {
            margin-top: 50px;
            @media screen and (min-width: $screen-sm) {
                display: flex;
            }
            .headshot {
                @media screen and (min-width: $screen-sm) {
                    width: 40%;
                }
                img {
                    width: 100%;
                    @media screen and (max-width: $screen-sm) {
                        display: none;
                    }
                }
            }
            .description {
                width: 100%;
                @media screen and (min-width: $screen-sm) {
                    padding: 30px;
                    width: 60%;
                }
                &.right {
                    @media screen and (min-width: $screen-sm) {
                        text-align: right;
                    }
                }
                img {
                    height: 150px;
                    @media screen and (min-width: $screen-sm) {
                        display: none;
                    }
                }
                .name-box {
                    @media screen and (max-width: $screen-sm) {
                        display: flex;
                        img {
                            margin-top: 15px;
                            margin-left: 30px;
                        }
                    }
                }
            }
        }
    }
}

.contact {
    background: $white;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    .content {
        .words {
            text-align: center;

            .contact-us {
                display: flex;
                justify-content: center;
                flex-wrap: wrap;
                margin-top: 50px;
                margin-bottom: 50px;

                .address {
                    text-align: center;
                    width: 30%;
                    @media screen and (max-width: $screen-sm) {
                        width: 200px;
                        width: 100%;
                    }
                    a,
                    p {
                        text-decoration: none;
                        color: black;
                        font-size: 20px;
                    }
                }
            }
        }
        form {
            width: 60%;
            margin: auto;

            input {
                background: $gold;
            }

            .send-button {
                width: 150px;
                margin: auto;
                margin-top: 30px;
                margin-bottom: 20px;
                background: white;
            }
        }
    }
}

input:-moz-placeholder, select:-moz-placeholder, textarea:-moz-placeholder {
    color: #999999;
}

input::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder {
    color: #999999;
}

input:-ms-input-placeholder ,select:-ms-input-placeholder, textarea:-ms-input-placeholder {
    color: #999999;
}

input::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    color: #999999;
}

input, select, textarea {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

input:focus, select:focus, textarea:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

.input[disabled],
input[readonly] {
  cursor: not-allowed;
  background-color: #eeeeee;
}

textarea {
  height: auto;
}