@import "mixins";
@import "variables";
h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

h1,
h2 h3,
h4,
p,
li {
    color: black;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Roboto', sans-serif;
}

.nav {
    position: fixed;
    top: 5%;
    left: 5%;
    display: inline-block;
    a {
        text-decoration: none;
        margin-left: 5px;
    }
    img {
        width: 30px;
        -webkit-filter: grayscale(1) invert(1);
        filter: grayscale(1) invert(1);
    }
}

.nav-pill {
    position: absolute;
    top: 5%;
    right: 5%;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid $white;

    a {
        color: white;
        text-decoration: none;
    }
}

.business-card {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-image: $background-pattern-url;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    
    .logo-space {
        img {
            -webkit-filter: grayscale(1) invert(1);
            filter: grayscale(1) invert(1);
            @media screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
                width: 100%;
                max-width: 350px;
            }
            width: 60%;
            display: block;
            margin: auto;
        }
    }

    .sub-heading {
        margin-top: 70px;
        text-align: center;
        h3,h4 {
            color: white;
            margin-bottom: 20px;
        }
        h4 {
            padding: 20px;
            width: 300px;
            margin: auto;
            border: 1px solid white;
            &:hover {
                color: $white;
                border: 1px solid $white;
            }
        }
        a {
            text-decoration: none;
            color: white;
            &:hover {
                color: $white;
            }
        }
    }
}

.separator {
    height: 250px;
    background: $gold-foil-1-url;
    background-size: 300%;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
}

.third-separator {
    // height: 100px;
    // background: $gold-foil-2-url;
    // background-size: 200%;
    // background-attachment: fixed;
    // background-repeat: repeat;
    // background-position: center;
}

.angle-before {
    @include angle(before, false, 6deg);
    top: -40px;
    background: white;
}

.angle-before-flip {
    @include angle(before, true, 6deg);
    top: -40px;
    background: white;
}

.angle-after {
    @include angle(after, false, 6deg);
    top: 40px;
    background: white;
}

.angle-after-flip {
    @include angle(after, true, 6deg);
    top: 40px;
    background: white;
}

.section {
    
    .header {
        h3, h4 {
            text-align: center;
            margin-bottom: 15px;
        }
        
        hr {
            width: 30%;
            color: $black;
            margin: auto;
            

            &.thick {
                margin-top: 30px;
                border-top: 4px solid black;
                // size: 5;
            }

            &.thin {
                margin-top: 10px;
                margin-bottom: 30px;
                border-top: 1px solid black;
                // size: 2;
            }
            
        }
    }
}

.intro {
    background-image: $man-jump;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;

    .header {
        @include angle(before, true, 3deg);
        background: $white;
        margin-left: 50px; 
        margin-right: 50px;
        margin-top: -15px;
        padding-bottom: 10px;
    }
    
    .content {
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 15px;
    
        p {
            margin-left: 50%;
            margin-right: 15%;
            margin-top: 15px;
            margin-bottom: 15px;
            padding: 25px;
            background-color: rgba(216,212,203, 0.3);
            text-align: center;
            font-size: 20px;

            .emphasis {
                font-style: italic;
                font-size: 24px;
            }
        }
    }
}

.ethos {
    padding-left: 25px;
    padding-right: 25px;
    margin-left: 25px;
    margin-right: 25px;
    h4 {
        text-align: center;
    }
}

.ethos-subcontent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
    h5 {
        text-align: center;
        margin-bottom: 7px;
    } 

    .ethos-box {
        width: 150px;
        margin: 15px;
        //padding: 15px;
        img {
            width: 35px;
            margin: auto;
            margin-bottom: 15px;
            display: block;
        }
        .boxed-content {
            //padding-top: 15px;
            //border: 1px solid black;
            height: 125px;
            text-align: center;
        }
    }
}

.adaptive-solutions {
    padding-top: 30px;
    padding-bottom: 150px;
    padding-left: 25px;
    padding-right: 25px;
    background-image: $background-pattern-url;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;

    h2,h3,h4,h5,p {
        color: white;
    }

    .header {
        hr {
            &.thick {
                border-top: 3px solid white;
            }
            &.thin {
                border-top: 1px solid white;
            }
        }
    }
}

.services {
    background: $white;
    margin-left: 25px;
    margin-right: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 15px;
    padding-top: 15px;

    .ethos-box {
        min-width: 300px;
        width: 27%;

        img {
            display: none;
        }

        .boxed-content {
            display: none;
        }
    }

    h4 {
        text-align: center;
    }

    h4.clicker {
        padding: 20px;
        border: 2px solid black;
        margin-bottom: 20px;
    }
    h4.clicker:hover {
        background: $gold;
        color: $white;
    }
}

.call-to-action {
    height: 750px;
    background-image: $background-clipped-url;
    background-size: 100vw;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: top;
    
    .address {
        text-align: center;
    }
}

.footer {
    text-align: center;
    
    a {
        text-decoration: none;
    }
}