@import "mixins";
@import "variables";
h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 26px;
}

h4 {
    font-size: 20px;
}

h1,
h2 h3,
h4,
p,
li {
    color: black;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Roboto', sans-serif;
}

.nav {
    position: fixed;
    top: 0;
    right: 5%;
    display: inline-block;
    a {
        text-decoration: none;
        margin-left: 5px;
    }
}

.business-card {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-image: $background-pattern-url;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
    
    .logo-space {
        img {
            -webkit-filter: grayscale(0.95) invert(1);
            filter: grayscale(0.95) invert(1);
            @media screen and (min-width: $screen-xs) and (max-width: $screen-sm) {
                width: 100%;
                max-width: 350px;
            }
            width: 60%;
            display: block;
            margin: auto;
        }
    }
}

.separator {
    height: 250px;
    background: $gold-foil-1-url;
    background-size: 200%;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
}

.second-separator {
    height: 250px;
    background-image: $background-pattern-url;
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
}

.third-separator {
    height: 250px;
    background: $gold-foil-2-url;
    background-size: 200%;
    background-attachment: fixed;
    background-repeat: repeat;
    background-position: center;
}

.angle-before {
    @include angle(before, false, 6deg);
    top: -40px;
    background: white;
}

.angle-before-flip {
    @include angle(before, true, 6deg);
    top: -40px;
    background: white;
}

.angle-after {
    @include angle(after, false, 6deg);
    top: 40px;
    background: white;
}

.angle-after-flip {
    @include angle(after, true, 6deg);
    top: 40px;
    background: white;
}

.section {
    
    .header {
        h3, h4 {
            text-align: center;
            margin-top: 35px;
            margin-bottom: 15px;
        }
        
        hr {
            width: 30%;
            color: $gold;
            margin: auto;
            margin-top: 50px;
            margin-bottom: 50px;
            border-top: 1px solid $gold;
        }
    }

     .content {
        width: 60%;
        margin: auto;
        margin-bottom: 60px;
        p {
            margin-bottom: 20px;
        }
    }
}

.intro {
    @include angle(before, false, 4deg);
    
    margin-top: 15px;
}

.ethos {}

.adaptive-solutions {}

.services {}

.call-to-action {
    
    .address {
        text-align: center;
    }
}

.footer {
    text-align: center;
    
    a {
        text-decoration: none;
    }
}